# -------------------------------------------------
# Kotlin Multiplatform / Android / iOS / JVM / JS
# -------------------------------------------------

# Gradle
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar
gradle/gradle-daemon-jvm.properties

# Kotlin / KMP tooling
.kotlin/
.konan/

# Local machine configuration
local.properties
.codemagic.secrets.env
firebase-service-account.json
release_notes.txt

# IDEs
.idea/
*.iml
.fleet/

# Android Studio / Android build outputs
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
output-metadata.json
*.hprof

# Android signing / secrets
*.jks
*.keystore
google-services.json

# iOS / Xcode / CocoaPods
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
DerivedData/
Pods/

# Kotlin/JS and frontend tooling
node_modules/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
